.header {
  background: var(--xp-grey);
  border-bottom: 1px solid #999;
}

.titleBar {
  height: 30px;
  background: linear-gradient(to bottom, #0058E6 0%, #3A93FF 8%, #2869E6 40%, #0058E6 88%, #003399 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.titleBarText {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.windowIcon { width: 16px; height: 16px; }

.titleBarControls { display: flex; gap: 2px; }

.titleBarControls button {
  width: 21px;
  height: 21px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: linear-gradient(to bottom, #E88B8B 0%, #C42626 50%, #8C0808 100%);
  box-shadow: inset 1px 1px 0px rgba(255,255,255,.5);
  cursor: pointer;
}

.titleBarControls button:nth-child(1),
.titleBarControls button:nth-child(2) {
  background: linear-gradient(to bottom, #8BAAE8 0%, #2664C4 50%, #08348C 100%);
}

.menuBar {
  background: #ECE9D8;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 24px;
  padding: 0 6px;
  border-bottom: 1px solid #D1CFC4;
  font-size: 11px;
}

.menuItem {
  padding: 2px 8px;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  color: black;
}

.menuItem:hover {
  background-color: #316AC5;
  color: white;
  border-color: #1f4eaa;
}

/* Address bar */
.addressBar {
  background: #ECE9D8;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  gap: 6px;
  border-bottom: 1px solid #D1CFC4;
  font-size: 11px;
}

.addressLabel { color: #444; }

.addressInputWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #7F9DB9;
  padding: 2px;
  min-width: 0;
}

.addressIcon { width: 16px; height: 16px; margin-right: 4px; }

.addressInputWrapper input {
  border: none;
  width: 100%;
  font-family: var(--font-main);
  font-size: 11px;
  outline: none;
  min-width: 0;
}

.goButton {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  background: #ECE9D8;
  border: 1px solid #7F9DB9;
  cursor: pointer;
  font-size: 11px;
  color:#000
}

.goButton:hover {
  box-shadow: inset 1px 1px 2px #fff;
}
