.window {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  border-radius: 0;
  overflow: hidden;
}

.mainBody {
  display: flex;
  flex: 1;
  overflow: hidden;
  background: #fff;
}
